body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  background: url(https://cdn.colombia.com/sdi/2022/12/09/colombia-es-el-segundo-pais-con-mayor-consumo-de-videojuegos-en-america-latina-1096928.jpg) center;
  background-size: cover;
}
